body {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 42px;
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: 600;
    color: #35414b;
    margin-bottom: 0;
  }
}

.pUnderH2 {
  width: 470px;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-align: center;

  color: #4e5a65;
}

.usersWrapper {
  display: flex;
  justify-content: space-between;
}

.users {
  display: flex;
  align-items: center;
  p {
  }
}
