.aboutus-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.aboutus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus-img {
  max-width: 514px;
  width: 100%;
}
.aboutus-title {
  font-size: 64px;
  font-weight: normal;
  margin: 0;
}
.aboutus-desc {
  max-width: 420px;
  width: 100%;
  font-size: 20px;
  font-weight: regular;
}
.aboutus-text {
  max-width: 1200px;
  width: 100%;
  font-size: 20px;
  font-weight: regular;
  text-align: center;
  margin-top: 60px;
}

.aboutus-gun-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus-gun {
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 1256px) {
  .aboutus-content {
    padding: 20px;
  }
}

@media (max-width: 951px) {
  .aboutus-header {
    display: block;
    text-align: center;
  }
  .aboutus-title {
    margin-top: 30px;
  }
}
