img {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header-image {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 20px 40px 20px 40px;
}
.header-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    margin: 20px 40px 20px 40px;
}
.description-title-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}
.description-title-1 h2 {
    color: black;
    font-size: 64px;
    font-weight: 100;
}
.description-title-1 p {
    color: black;
    font-size: 16px;
    font-weight: 100;
}
.description-title-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}
.description-title-2 h2 {
    color: black;
    font-size: 64px;
    font-weight: 100;
}
.description-title-2 p {
    color: black;
    font-size: 16px;
    font-weight: 100;
}
