.footer {
    color: white;
    background-color: black;
    height: 265px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    cursor: pointer;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
}
.fw600 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
}

.linksWrapper div {
    margin-top: 10px;
}
