body {
  box-sizing: border-box;
  font-family: "Advent Pro";
}
span {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-top: 40px;
  font-size: 22px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-top: 60px;
    font-size: 41px;
    margin-bottom: 18px;
    font-family: "Inter";
    font-weight: 400;
  }

  input {
    width: 510px;
    height: 35px;
    border-radius: 2px;
    border-color: black;
  }

  .passwordInput {
    margin-top: 20px;
    height: 30px;
  }

  button {
    background-color: black;
    width: 540px;
    justify-content: center;
    height: 45px;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 40px;
    font-family: "Advent Pro";
  }

  button:hover {
    background-color: red;
  }

  p {
    font-size: 22px;
    cursor: pointer;
  }
}

.login {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 98px;
  font-size: 16px;
  font-weight: 500;
}

.password {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 38px;
  font-size: 16px;
  font-weight: 500;
}
